.movie {
    color: white;
    display: flex;
    position: relative;
}

.movieImg {
    max-width: 15vw;
    min-width: 15vw;
    display: inline-block;
    border-radius: 2%;

}

/* .rent2 {
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    position: absolute;
    bottom: 15px;
    left: 20px;
    color: white;
    background-color: transparent;

    box-shadow: none;
    background-repeat: no-repeat;

} */

.top-right::before {
    background: transparent;
    position: absolute;
    color: white;
    top: 5px;
    right: 5px;
    align-items: left;
    justify-content: left;

}

/* .rent {
    position: absolute;
    color: white;
    background-color: transparent;
    border-color: transparent;


} */