.movie {
    color: white;
    display: flex;
    position: relative;
}

.movieImg {
    max-width: 20vw;
    min-width: 20vw;
    display: inline-block;

}

.rent2 {
    /* align-items: center;
    justify-content: center; */
    /* flex-wrap: wrap; */
    /* position: absolute;
    bottom: 15px;
    left: 20px;
    color: white;
    background-color: transparent;
    border-color: transparent;
    box-shadow: none;
    background-repeat: no-repeat; */

}

i::before {
    background: transparent;
    position: absolute;
    color: white;

    bottom: 15px;
    left: 20px;
    align-items: left;
    justify-content: left;
}

/* .rent {
    position: absolute;
    color: white;
    background-color: transparent;
    border-color: transparent;


} */